@import "../../styles/colors.css";

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: var(--black);

    color: var(--white);
}

.header-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: .5rem 0;
    width: 80%;
}

.header-image {
    width: 11rem;
}

.up-nav {
    display: flex;
    justify-content: space-between;
    width: 20rem;
}

.up-nav > a {
    font-weight: 300;
    font-size: 1rem;
    text-decoration: none;
    color: var(--white);
    transition: .2s;
}

.up-nav > a:hover {
    color: var(--orange);
}

nav {
    padding: .8rem 0;
    width: 100%;

    border-top: solid 3px var(--orange);
    border-bottom: solid 3px var(--orange);
    text-align: center;

    background-color: white;
}

nav > a {
    margin: 0 1.1rem;
    transition: .2s;

    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
}

nav > a:hover {
    color: var(--orange);
}

@media screen and (max-width: 768px) {

    .header-up {
        align-items: space-between;

        padding: 1.5rem .8rem;
        width: 100%;

        border-bottom: solid 2px var(--orange);
    }

    #logo {
        width: 8rem;
    }

    .up-nav {
        display: none;
    }

    nav {
        display: none;
    }
}